gui_os.py
sample.py
MemoryAllocationProjectDescription2021.pdf
TasksForm.py
test1.py
# holes_data.ui
# MainWindow.ui
maintemp.py
/temp files
/.vscode
/__pycache__
images.jpg
Memory Assignment.docx
Backup of Memory Assignment.wbk
\Snapshots
Snapshots\